/*body*/
{color: black;}
body
{background: none repeat scroll 0 0 #fff;
  color: #222;
  margin:0;
}
a {color:	#E6BE89;
	text-decoration: none;
  font-family: 'Satisfy', cursive;
}
a:hover {
	/*change color on hover*/
	color: #b76e79;
	/*add underline when user hovers*/
	text-decoration: line-through;
}
/*select all anchor tags that have a class of button and are hovered on*/
a.button:hover {
	text-decoration:line-through;
}
/*top-navigation*/
.nav{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:0 65px 10px 95px;
}

/*logo*/
.logo-img {
	border-radius: 30px;
	height: 70px;
  width: 70px;
  position: relative;
  top: 5px;
  opacity: 0.8;
  filter: alpha(opacity=10);
}
/*Homepage*/
.coffeeandflowers{
	position: center;
	margin-top:0;
  padding-left: 9px;
}
.coffeeandflowers img{
  display: block;
  margin: auto;
  width: 50%;
  opacity: 0.8;
  filter: alpha(opacity=50);
  border-radius: 50%;
}
/*about me*/
.aboutme{
  color:	#b76e79;
  text-decoration: none;
  font-family: 'Rancho', cursive;
  font-size: 20px;
  text-align: center;
  padding: 40px 250px;
}
.logo img{
  width:10%;
  padding-left: 572px
}
